body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.red {
  color: red;
}

.green {
  color: limegreen;
}

a {
  color: #00B7FF;
}
